<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <input type="submit" value="Submit">
</form>

<form id="upload-photo-form" action="/posts/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="image" accept="image/*" > 
  <input id="message-2" type="text" name="message" value="" > 
  <input type="submit" name="upload" value="Upload" >
</form>

<img src="{{url}}" />

{{!-- image/jpeg if only accepting jpegs --}}